@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 0.5rem;
}
::-webkit-scrollbar-track {
	/* background: #adefd1ff; */
	background: #00203f;
}
::-webkit-scrollbar-thumb {
	background: #adefd1ff;
	/* background: rgb(80, 180, 134); */
	border-radius: 25px;
}
